---
import { MY_NAME } from '../config';

const { NAME = MY_NAME } = Astro.props;
const today = new Date();
---

<footer class="footer footer-center block mb-5 pt-10">
    <div class="pb-2">
        &copy; {today.getFullYear()}
        {NAME}
    </div>
    <div class="inline opacity-75">
        The source code of this website is licensed under the <a
            href="https://github.com/harrisonratcliffe/personal-site/LICENSE"
            target="_BLANK">MIT</a
        > license.
    </div>
</footer>
<style></style>
